/* i have no idea what im doing so */
body {
    /* why */
    margin: 0;
}

.main {
	display: flex;
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	height: 100%;
}

.servers {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.serverView {
	flex-grow: 1;
	display: flex;
}

.channel {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: auto;
}

.messages {
	flex-grow: 1;
}

.messageInput {
	background: white;
	position: sticky;
	bottom: 0;
}

.messageInput.disabled {
    display: none;
}

.server {
	width: 45px;
    word-break: break-all;
    word-wrap: break-word;
	height: 45px;
	object-fit: cover;
	padding: 0;
}

.server img {
	width: 100%;
	height: 100%;
}

.sidebar {
	height: 100%;
	/* padding: 0.3rem; */
	overflow-y: auto;
}