/* i have no idea what im doing so */
body {
    /* why */
    margin: 0;
}

.server img {
	width: 100%;
}

.main {
	display: flex;
	width: 100%;
	max-height: 100vh;
	height: 100%;
}

.server {
	max-width: 5em;
    cursor: pointer;
}

.servers {
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.serverView {
	flex-grow: 1;
	display: flex;
}

.channel {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: auto;
}

.messages {
	flex-grow: 1;
}

.messageInput {
	background: white;
	position: sticky;
	bottom: 0;
}

.messageInput.disabled {
    display: none;
}